<!doctype html>
<html lang="en">
		<head>
				<meta charset="UTF-8"/>
				<title>HBOHD</title>

		</head>
		<body>
				<form action="view" method="get">
						Channel name: <input name="channel" type="text" />
						<input type="submit" name="submit" value="view" />
				</form>
		</body>
</html>
